/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.main-head {
  width: 95%;
  margin: 0 0 0 auto;
  min-height: 10vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-height: 10vh;
  width: 60%;
  flex-wrap: wrap;
}
nav .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex: 1 1 30rem;
}
nav .logo h1 {
  padding: 2rem;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex: 1 1 40rem;
}

.intro {
  width: 90%;
  min-height: 90vh;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.intro h1 {
  font-size: 8rem;
  padding-top: 2rem;
  background: linear-gradient(to left, #38d39f, #38a4d3);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.intro h3 {
  font-size: 6rem;
  padding: 2rem 0;
  text-transform: uppercase;
}
.intro p {
  color: #2c2c2c;
  padding-top: 2rem;
}

.splash {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
}

.intro-social {
  margin-top: 3rem;
}
.intro-social a {
  margin-right: 3rem;
}

.active {
  background-color: #2c2c2c;
  color: white;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

.intro-text {
  flex: 2 1 30rem;
}

.intro-images {
  flex: 1 1 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#plant-left {
  animation: leaf 1.5s ease-in-out infinite alternate 0.5s;
}

#plant-right {
  animation: leaf 1.5s ease-in-out infinite alternate;
}

#me {
  animation: me 1s linear infinite alternate-reverse;
  transform-origin: bottom;
}

#clock-hand {
  animation: arrow 5s linear infinite reverse;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes arrow {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
@keyframes me {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}
@keyframes leaf {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-30%);
  }
}
.projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 90%;
  margin: auto;
  min-height: 90vh;
  text-align: center;
  flex-wrap: wrap;
}
.projects h3 {
  margin: 3rem;
  text-transform: capitalize;
}
.projects .project {
  flex: 1 1 40rem;
  margin: 3rem;
  border-radius: 2rem;
}
.projects .project .project-card {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  cursor: pointer;
}
.projects .project .cover {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  transition: transform 1.5s ease-in;
}
.projects .project .cover:hover {
  transform: translateX(100%);
}
.projects .project img {
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

@keyframes coverslide {
  from {
    transform: translate(-100);
  }
  to {
    transform: translate(100);
  }
}
.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 80vh;
  margin-top: 3rem;
}
.form-section form {
  padding: 3rem 10rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  border-radius: 2rem;
}
.form-section form input,
.form-section form textarea {
  margin: 2rem;
}
.form-section form input:focus,
.form-section form textarea:focus {
  outline: 2px solid black;
}
.form-section form textarea {
  font-family: "Montseratt";
  font-size: 2rem;
}
.form-section form button {
  width: 100%;
  padding: 2rem;
  background-color: #154353;
  color: white;
}
.form-section form button:hover {
  background-color: rgb(51, 105, 107);
}

footer {
  background-color: #154353;
  min-height: 10vh;
  color: white;
  padding: 0% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
footer h4,
footer ul {
  flex: 1 1 30rem;
}
footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 480px) {
  footer h4 {
    text-align: center;
  }
  footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
}
@media screen and (max-width: 1332px) {
  html {
    font-size: 53%;
  }
  .splash {
    display: none;
  }
  svg {
    width: 80%;
  }
  nav {
    width: 100%;
  }
}
@media screen and (max-width: 770px) {
  html {
    font-size: 45%;
  }
  .splash {
    display: none;
  }
  svg {
    width: 80%;
  }
  .main-head {
    width: 100%;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 20rem;
    margin: 2rem;
  }
  nav .logo h1 {
    display: none;
  }
  nav ul {
    flex: 1 1 60rem;
    margin: 2rem 0;
  }
  .intro-text {
    text-align: center;
    margin-top: 3rem;
  }
  .intro-images {
    text-align: center;
  }
  .intro-social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .intro-social a {
    margin: 2rem;
  }
  .projects .project {
    flex: 1 1 50rem;
  }
  .projects .project img {
    width: 100%;
    height: 100%;
  }
  form {
    width: 100%;
    padding: 0rem;
  }
}/*# sourceMappingURL=style.css.map */